<section class="mission-contain">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h4 style="font-weight: bold;">Project Development : We help you find skilled design, development, functional and technical resources.</h4>
            <p>These professionals—sometimes referred to as creative or marketing technologists—possess both innovative and technical skills, and they are in high demand and short supply. Organizations often struggle to build and maintain a team of the right size and skill set mix to meet their business initiatives.</p>
        
            <br>
          <h4 style="font-weight: bold;">At the intersection of marketing and technology</h4>
          <p>SSGIT offers the best of both worlds—the flexibility and expertise of a boutique firm, backed by the powerful recruiting engine and network of SSGIT LLC, the mid-size IT staffing firm in the U.S. We have a foundation in applications staffing and services with a specialized focus on digital, creative and interactive skill sets. With over 13 years of experience staffing technical professionals and deploying good number of consultants every year, we are a formidable and reliable partner.</p>
        </div>
        </div>
</div></section>
<section class="creative">
	<div class="container">
	 <h4>Select Digital and Creative Skills</h4>
		<div class="row">
			<div class="col-md-3">
				<h4><b>DEVELOPMENT</b></h4>
				  <ul class="creative-li">
					<li>Front-end development</li>
					<li>Information architecture</li>
					<li>Mobile app development</li>
					<li>Responsive Web development</li>
					<li>UI development</li>
					<li>Backend development</li>
				  </ul>
			</div>
			
			<div class="col-md-3">
				<h4><b>DESIGN</b></h4>
				  <ul class="creative-li">
					<li>Graphic design</li>
					<li>Interaction design</li>
					<li>Mobile app design</li>
					<li>UX design</li>
					<li>Visual design</li>
					<li>Web design</li>
				  </ul>
			</div>

			
			<div class="col-md-3">
				<h4><b>MARKETING TECHNOLOGIES</b></h4>
				  <ul class="creative-li">
					<li>Content management</li>
					<li>E-commerce</li>
					<li>Email marketing</li>
					<li>SEO/SEM analysis</li>
					<li>Social media management</li>
					<li>Web/data analysis</li>
				  </ul>
			</div>
			
			
			<div class="col-md-3">
				<h4><b>FUNCTIONAL/STRATEGIC</b></h4>
				  <ul class="creative-li">
					<li>Content strategy</li>
					<li>Digital marketing management</li>
					<li>Product management</li>
					<li>Project management</li>
					<li>Site merchandising</li>
					<li>User experience research</li>
				  </ul>
			</div>			
			
			
			
		</div>
	
	</div>
	
	</section>