<section class="mission-contain">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <p>Our dedicated team specializes in direct placement hiring. We help you identify talented, highly experienced IT professionals to join your organization on a full-time basis.</p>
            <h4>We Market Your Value Proposition</h4>
            <p>We understand the extremely competitive IT job market and the challenges you face when searching for top IT talent. Many critical positions are extremely difficult and time-consuming to fill. As part of our IT direct placement services, SSGIT takes the time to learn your business in order to fully understand your culture and what makes an ideal fit for your organization. With this detailed insight, we help you create an employee value proposition that can compel top IT talent to want to work for you instead of your competition.</p>	
            </div>
            <br>
          <h4 style="font-weight: bold;">Select Skills:</h4>
          
          <div class="col-md-4">
              <ul class="creative-li">
                <li>Application architecture</li>
                <li>Application development</li>
                <li>Business intelligence</li>
                <li>Cloud computing</li>
                <li>Database administrators</li>
              </ul>
         </div>
          <div class="col-md-4">
              <ul class="creative-li">
                <li>Data architecture</li>
                <li>Data warehousing</li>
                <li>Developers - Database</li>
                <li>Network administrators</li>
                <li>Network analysts</li>
              </ul>
        </div>
          <div class="col-md-4">
              <ul class="creative-li">
                <li>Network architects</li>
                <li>Network optimization engineers</li>
                <li>Systems administrators</li>
                <li>Systems analysts</li>
                <li>Technical architects</li>
              </ul>
        </div>				
        </div>
</div></section>