<section class="benifits">
    <div class="container">
        <h1 class="abt-heading" style= "color: black;">Contact Us</h1>
    </div>
</section>
<div class="col-md-4">
    <h4><br style="clear:both"><br style="clear:both">Location</h4>
    <ul style="color:#73767c; display: flex; width: max-content;">
        <li style="list-style-type:square; padding-right: 20px;">
            <h4 style="color: black;">Home Office:</h4>
            <span class="glyphicon glyphicon-map-marker" ></span><span style="color: black;"> 4412 Harry Byrd Highway ,Suite 240-G,</span><br>
            <span style="color: black;">Ashburn, 
            VA- 20147
            </span>
            <br><br>
            <span class="glyphicon glyphicon-phone" style="color: black;"></span> <span style="color: black;">+1  703-798-0898</span>
            <br><br>
            <span class="glyphicon glyphicon-envelope" style="color: black;"></span> <span style="color: black;">srao@sliqit.com</span>
        </li>
        <br>
        
        <br>
        
    </ul>
</div>
<div class="map-right" style = "position: relative; padding-left: 58%; top: -28%; bottom: -20%;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3094.9019771499657!2d-77.9163346846543!3d39.13146197953518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b609c4f564e707%3A0x583f7859e8d51d58!2s4412%20Harry%20Byrd%20Hwy%20240%20g%2C%20Berryville%2C%20VA%2022611!5e0!3m2!1sen!2sus!4v1645209530528!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
