<section class="benifits">
    <div class="container">
        <h1 class="abt-heading" style= "color: black;">Services</h1>
        <p style= "color: black;">The Only Logical Choice For All Your IT Needs</p>
    </div>
</section>
<div class="row" style="top:4%; position: relative;">
<div class="col-3" style="position: relative; top: 2%; padding-left: 0.5%;">
<div class="card" style="width: 18rem; ">
    <div class="card-header" style="font-weight: bold;">
      Services
    </div>

    <ul class="list-group list-group-flush navbar-nav">
      <li class="list-group-item nav-item"> <a class="nav-link" aria-current="page" href="services/Digital And Creative Services" style="font-weight: bold; color: black;">Digital And Creative Services</a></li>
      <li class="list-group-item nav-item">  <a class="nav-link" aria-current="page" href="services/Application Staffing Services" style="font-weight: bold; color: black;">Application Staffing Services</a></li>
      <li class="list-group-item nav-item">  <a class="nav-link" aria-current="page" href="services/Network Infrastructure Staffing Services" style="font-weight: bold; color: black;">Network Infrastructure Staffing Services</a></li>
      <li class="list-group-item nav-item">  <a class="nav-link" aria-current="page" href="services/IT Direct Placement Services" style="font-weight: bold;color: black;" >IT Direct Placement Services</a></li>
    </ul>
  </div>
</div>
<div class="col-9"style="position: relative;">
<router-outlet></router-outlet>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>