<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide" class="w-100" style="height: 600px;">
      </div>
      <div class="carousel-caption">
        <h3>TRANSFORM BUSINESS PERFORMANCE</h3>
        <p>Enterprise Document Management, Document Capture and Workflow Solutions
            to streamline and optimize business operations</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide" class="w-100" style="height: 600px;">
      </div>
      <div class="carousel-caption">
        <h3>OPTIMIZE BUSINESS OUTCOMES</h3>
        <p>With in take workhub - a unified application suit for document management and
            workflow automation with a smart web 2.0 user front end</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide" class="w-100" style="height: 600px;">
      </div>
      <div class="carousel-caption">
        <h3>BUSINESS AGILITY DELIVERED</h3>
        <p>Find out why SSGIT is the preferred technology partner of enterprises</p>
      </div>
    </ng-template>
  </ngb-carousel>

<div class="row" style="padding-bottom: 10%; position: relative;">
    <div class="col-6">
        <div class="col-md-6 abt-cmpny"> 
            <div class="col-md-3">
                <div class="con-cmpny"><img src="../../../../assets/images/company-icon.png">
                </div>
            </div>
             <div class="col-md-9">
                <div class="">
                    <h3 style="font-weight: bold;">About Company</h3>
                    <p>Along with SSGIT mission, a core emphasis is placed on establishing a unique interpersonal relationship with our clients. Our mission is accomplished by recognizing...</p>
                    <p style="text-align:right;">
                        <a style="color: blue;" href="about-us">View more&gt;&gt;&gt;</a>
                    </p>
                </div>
             </div>
        </div>
    </div>
    <div class="col-6">
        <div class="col-md-6 services-cmpny"> 
            <div class="col-md-3">
                <div class="con-cmpny"><img src="../../../../assets/images/ourservices-icon.png">
                </div>
            </div>
             <div class="col-md-9">
                <div class="">
                    <h3 style="font-weight: bold;">Our Services</h3>
                    <p>Aggressiveness, flexibility, versatility, uniqueness, quality, and tireless effort continue to be the foundation SSGIT success. The following sectors are focused...</p>
                    <p style="text-align:right;">
                        <a style="color: blue;" href="services/Digital And Creative Services">View more&gt;&gt;&gt;</a>
                    </p>
                    
                </div>
             </div>
        </div>
    </div>
  </div>
  

  