<section class="benifits">
    <div class="container">
        <h1 class="abt-heading" style= "color: black;">About Us</h1>
        <p style= "color: black;">Get to know more about SSGIT</p>
    </div>
</section>

        <div class="row" style="position: relative; top: 5%;">
            <div class="col-md-5"><img src="../../../../assets/images/mission-banner.png" class="img-responsive"></div>
            <div class="col-md-7">
                <p class="paragraph" style= "color: black;">Along with SSGIT, a core emphasis is placed on establishing a unique interpersonal 
                   relationship with our clients. Our mission is accomplished by recognizing, implementing, and 
                   executing simple, but specific principles:</p>
                <p class="paragraph" style= "color: black;">Innovative management approach in order to meet and exceed our client’s expectations.</p>   
                    <ul class="abt-lis">
                        <li><span class="glyphicon glyphicon-plus"></span> Commitment to client satisfaction. </li>
                        <li><span class="glyphicon glyphicon-plus"></span> Upholding the highest standards of professional ethics and industry expertise.</li>
                        <li><span class="glyphicon glyphicon-plus"></span> Maintaining flexibility and versatility towards dynamic clientele.</li>
                        <li><span class="glyphicon glyphicon-plus"></span> Personal, immediate response to both client’s and employee needs.</li>
                        <li><span class="glyphicon glyphicon-plus"></span> Dedication to supplying high quality, cost effective solutions for all your IT needs.</li>
                    </ul>
                 
                 </div>
        </div>
        <br>
        <p class="paragraph" style= "color: black;">SSGIT was founded in 2008 . The goal of this new management style was to focus on project development and IT consulting.</p>

        <section class="focus-content">

                <h3 style="position: relative; font-weight: bold; padding-left: 47%; ">Our Clients</h3>
                <h5 style="text-align:center; color:navy;">(Tier 1 and Tier 2)</h5>
            <!--  <p>SSTech LLC was founded in 2008 . The goal of this new management style was to focus on project development and IT consulting.SSTech was founded in 2008 . The goal of this new management style was to focus :</p> -->
                <br>
                <div class="row"> 
                    <div class="col-md-3">
                        <div class="clients_tabs">
                    
                                <img src="../../../../assets/images/worldbank.jpeg"><br><br>
 
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
               
                                <img src="../../../../assets/images/mastercard.png"><br><br>
          
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
     
                                <img src="../../../../assets/images/worldpay.png"><br><br>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
         
                                <img src="../../../../assets/images/directtv.jpeg"><br><br>
                       
                        </div>
                    </div>
                </div>
                <br>
               <div class="row"> 
                    <div class="col-md-3">
                        <div class="clients_tabs">
    
                                <img src="../../../../assets/images/aepcharge.png"><br><br>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
  
                                <img src="../../../../assets/images/unitedairlines.png"><br><br>
                      
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">

                                <img src="../../../../assets/images/tmobile.png"><br><br>
              
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
       
                                <img src="../../../../assets/images/anthem.png"><br><br>
                  
                        </div>
                    </div>
                </div>
               <br>
               <div class="row"> 
                    <div class="col-md-3">
                        <div class="clients_tabs">
           
                                <img src="../../../../assets/images/allyfinancial.png"><br><br>
               
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
                       
                                <img src="../../../../assets/images/johnsonandjohnson.png"><br><br>
                  
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
              
                                <img src="../../../../assets/images/paypal.png"><br><br>
                
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
            
                                <img src="../../../../assets/images/pharmerica.png"><br><br>
  
                        </div>
                    </div>
                </div>
                <br>
               <div class="row">				
                    <div class="col-md-3">
                        <div class="clients_tabs">
    
                                <img src="../../../../assets/images/nttdatainc.png"><br><br>
          
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
           
                                <img src="../../../../assets/images/nbcuniversalstudios.png"><br><br>
        
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
                
                                <img src="../../../../assets/images/viacomcbs.png"><br><br>
                
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="clients_tabs">
            
                                <img src="../../../../assets/images/cvshealth.png"><br><br>
   
                        </div>
                    </div>
                </div>
               <br>
               <div class="row"> 
                    <div class="col-md-3">
                        <div class="clients_tabs">
           
                                <img src="../../../../assets/images/ibm.jpeg"><br><br>
        
                        </div>
                    </div>
                    
            </div>
        </section>
