<section class="benifits">
    <div class="container">
        <h1 class="abt-heading" style= "color: black;">Profiles</h1>
        <p style= "color: black;">The Only Logical Choice For All Your IT Needs</p>
    </div>
</section>

<section class="mission-contain">
    <div class="container" style="position: relative; padding-top: 5%;">
        <div class="row" >
            <div class="col-md-2"><img src="../../../../assets/images/project_icon.png"></div>
            <div class="col-md-10">
            <h4>Project Development</h4>
            <p>SSTech LLC Services team is a dedicated team of experts in delivering professional services, managed services, education and support for global eBusiness projects and has experience with leading companies. This team helps them implement vital eBusiness solutions for their extended enterprise to orchestrate complex product, selling and order management processes across multiple enterprise systems, business organizations and sales channels. </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"><img src="../../../../assets/images/consulting-profile_icon.png"></div>
            <div class="col-md-10">
            <h4>Consulting</h4>
            <p>We at SSTech LLC are committed to providing consultants with all the resources needed to be successful in the current and future IT industry. As a result of this, our consultants find themselves superbly positioned to adjust to all the demands of the consistently changing IT industry. We pride ourselves on "being there" for our consultants and assisting them in all levels of the consulting environment. We have developed the ultimate state of the art comprehensive consulting corporation that will maximize the opportunities and happiness of our clients and consultants.</p>
            </div>
        <div class="col-md-2"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2"><img src="../../../../assets/images/training-profiles_icon.png"></div>
            <div class="col-md-10">
            <h4>Training</h4>
            <p>Our training programs that encompass technical and social enterprise training allow our consultants to be in high demand and choose from a variety of project offers. Technical training is provided by industry experienced experts in their respective fields. Consultants are trained in client server, internet, QA &amp; testing, programming, networking, operating systems, groupware, and main frames.</p>
            </div>
        </div>
        <br>			
        <p>In addition to technical training, SSTech LLC offers social enterprise training in the form of the Client Consultant Relationship Program (CCRP). The CCRP provides the consultant with the interpersonal business skills that allows them to better handle varying management styles within the company they work for. Drawing upon actual consultant and client experiences, mock situations are set up in our training facilities in order to prepare the consultant for real world experiences. The skills focused on in the CCRP include:</p>
    </div>
    

</section>

<section class="skills">
    <div class="container">
     
      <div class="row">
        <div class="col-md-4">
            <div class="ccrp_tabs">
                <div class="col-md-4"><img src="../../../../assets/images/communcation_icon.png"></div>
                <div class="col-md-8"><h4> Communication</h4></div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="ccrp_tabs">
                <div class="col-md-4"><img src="../../../../assets/images/clock_icon.png"></div>
                <div class="col-md-8"><h4> Time management</h4></div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="ccrp_tabs">
                <div class="col-md-4"><img src="../../../../assets/images/multitasking_icon.png"></div>
                <div class="col-md-8"><h4> Multitasking </h4></div>
            </div>
        </div>
      </div>
      <br><br>
                <div class="row">
        <div class="col-md-4">
            <div class="ccrp_tabs">
                <div class="col-md-4"><img src="../../../../assets/images/teamwork_icon.png"></div>
                <div class="col-md-8"><h4> Teamwork</h4></div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="ccrp_tabs">
                <div class="col-md-4"><img src="../../../../assets/images/grouping_icon.png"></div>
                <div class="col-md-8"><h4> Group Dynamics</h4></div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="ccrp_tabs">
                <div class="col-md-4"><img src="../../../../assets/images/trainning_icon.png"></div>
                <div class="col-md-8"><h4> Training</h4></div>
            </div>
        </div>
      </div>
      <br>
      <br>
    </div>
</section>