<section class="mission-contain">
    <div class="container">
        <div class="row">
            <div class="col-md-12 quality">
            
            <p>With over 13 years of experience and most of the Fortune 500 IT choosing us as their IT staffing provider, SSGIT offers a proven track record of delivering top applications talent on a contract, contract-to-hire or direct placement basis.</p>
            <p>Annually, we deploy hunderds of IT professionals to support all stages of the SDLC including analysis, design, development, testing, implementation and maintenance. Our proprietary Staffing Quality Process ensures you receive the best match of talent for your applications staffing needs.</p>
        </div>
        </div>
</div></section>
<section class="applications">
	<div class="container">
	 <h4 style="font-weight: bold;">Select Applications Skills</h4>
		<div class="row">
			<div class="col-md-4">
				  <ul class="creative-li">
					<li>Application architecture</li>
					<li>Application development</li>
					<li>Application management</li>
					<li>Business analysis</li>
					<li>Business intelligence</li>
					<li>Big Data</li>
					<li>Business process improvement</li>
					<li>Cloud computing</li>
					  <li style="margin-left:3%">SaaS</li>
					  <li style="margin-left:3%">Public, Private, Hybrid</li>
				  </ul>
			</div>
			<div class="col-md-4">
				  <ul class="creative-li">
					<li>Customer Relationship Management (CRM)</li>
					<li>Data architecture</li>
					<li>Data governance quality</li>
					<li>Data warehousing</li>
					<li>EDI</li>
					<li>Enterprise analytics and reporting</li>
					<li>Enterprise Resource Planning (ERP)</li>
					<li style="margin-left:3%">SAP, PeopleSoft, Oracle EBS, Siebel, Salesforce, workday</li>

				  </ul>
			</div>			

			<div class="col-md-4">
				  <ul class="creative-li">
					<li>Information architecture</li>
					<li>Information management</li>
					<li>Integration management and middleware development</li>
					<li>IT project management</li>
					<li>Mobility</li>
					<li>QA and Software Testing</li>
					<li>System design</li>
					<li>Web/e-commerce</li>
				  </ul>
			</div>				
		</div>
	</div>
	</section>
    <section class="applications">
        <div class="container">
         <h4 style="font-weight: bold;">Select Technologies</h4>
            <div class="row">
                <div class="col-md-4">
                      <ul class="creative-li">
                        <li>Apex</li>
                        <li>Business Objects, BOBJ, BODS</li>
                        <li>COBOL CICS DB2</li>
                        <li>Cloud (AWS, Azure, GCP) and Big Data (Pig, Hive, Cassandra, Hadoop)</li>
                        <li>Databases (Oracle, MS SQL, NoSQL, Open Source)</li>
                        <li>Functional languages (Scala, Clojure)</li>
                      </ul>
                </div>
                
                <div class="col-md-4">
                      <ul class="creative-li">
                        <li>Hyperion</li>
                        <li>Infrastructure/DevOps (UNIX, Windows)</li>
                        <li>Java/J2EE</li>
                        <li>Angular, React, React Native</li>
                        <li>NET, ASP.NET, VB.NET</li>
                        <li>OBIEE/OBIA</li>
                        <li>Open Source Web 2.0</li>
                        <li>SQL, PL/SQL, T-SQL</li>
                        <li>Selenium, Ruby/Cucumber</li>
                      </ul>
                </div>
                <div class="col-md-4">
                      <ul class="creative-li">
                        <li>Pearl</li>
                        <li>Python</li>
                        <li>R</li>
                        <li>REST</li>
                        <li>SharePoint</li>
                        <li>Shell Scripting</li>
                        <li>Visualforce</li>
                        <li>Machine learning</li>
                      </ul>
                </div>			
                
            </div>
        </div>
        <br><br>
        </section>
