<section class="benifits">
    <div class="container">
        <h1 class="abt-heading" style= "color: black;">Benefits</h1>
        <p style= "color: black;">Employee Satisfaction is SSGIT LLC's #1 Priority</p>
    </div>
</section>


<section class="mission-contain">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <br><br>
            <img src="../../../../assets/images/benifits-banner.png" class="img-responsive"></div>
            <div class="col-md-8">
               <div class="ccrp_contian">
                <p>Our training programs that encompass technical and social enterprise training allow our consultants to be in high demand and choose from a variety of project offers. Technical training is provided by industry experienced experts in their respective fields. Consultants are trained in client server, internet, QA &amp; testing, programming, networking, operating systems, groupware, and main frames. </p>
                <p>In addition to technical training, SSGIT offers social enterprise training in the form of the Client Consultant Relationship Program (CCRP). The CCRP provides the consultant with the interpersonal business skills that allows them to better handle varying management styles within the company they work for. Drawing upon actual consultant and client experiences, mock situations are set up in our training facilities in order to prepare the consultant for real world experiences.</p>   					 
               </div>
           </div>
        </div>
    </div>
    

</section>

<section class="skills">
    <div class="container">
      <h4>Employee Benefits Include: </h4>
      <br>
      <div class="row">
            <ul class="benifits-li">
                <li>Comprehensive individual and family medical / dental / Vision / Life insurance plans.</li>
                <li>Paid vacation/holiday and maternity leave. Additionally, we have affiliations with several accredited day care facilities to meet your family’s specific needs.</li>
                <li>Training operations from industry experienced professionals to stay up to date.</li>
                <li>Training for both technical skills and interpersonal business relationships through the Client Consultant Relationship Program (CCRP).</li>
                <li>Reimbursements for interviewing, travel, and relocation expenses.</li>
                <li>Assistance in financial planning from experienced industry professionals with regards to 401K plans, life insurance.</li>
                <li>Processing of green cards and visas for family members on an individual basis.</li>
            </ul>
      </div>
     
</div></section>
