<section class="mission-contain">
    <div class="container">
        <div class="row">
            <div class="col-md-12 network">
            
            <p>With over 13 years of experience and many of the Fortune 500 choosing SSGIT LLC as their IT provider, we offer you a proven track record of success in delivering network infrastructure staffing solutions and top network infrastructure talent on a contract, contract-to-hire or direct placement basis. Our research and insight into the implementation schedules of network infrastructure projects reveal the criticality of securing the right skills to support your business goals-on time and within budget.</p>
            <p>We possess the strong network of relationships with IT consultants and annually deploy hunderds of professionals to support Unified Communications, cloud and security initiatives. Our proprietary Staffing Quality Process ensures you receive the absolute best match of talent for your network infrastructure needs.</p>
            
            </div>
        </div>
</div></section>
<section class="applications">
	<div class="container">
	 <h4 style="font-weight: bold;">Select Network Infrastructure Skills</h4>
		<div class="row">
			<div class="col-md-4">
				  <ul class="creative-li">
					<li>Cloud computing</li>
					<li>Data center</li>
					<li style="margin-left:3%">Administration</li>
					<li style="margin-left:3%">Engineering</li>
					<li style="margin-left:3%">Server and storage architecture</li>
					<li>Information security</li>
					  <li style="margin-left:3%">Engineering</li>
					  <li style="margin-left:3%">Operations</li>
					  <li style="margin-left:3%">Security governance</li>
				  </ul>
			</div>

			<div class="col-md-4">
				  <ul class="creative-li">
					<li>IT Service Management and ITIL®</li>
					<li>Network infrastructure</li>
					  <li style="margin-left:3%">Administration</li>
					  <li style="margin-left:3%">Engineering</li>
					  <li style="margin-left:3%">LAN/WAN network</li>
					  <li style="margin-left:3%">Voice</li>
					  <li style="margin-left:3%">Network Operations Center (NOC)</li>
				  </ul>
			</div>	
			<div class="col-md-4">
				  <ul class="creative-li">
					<li>Project management</li>
					  <li style="margin-left:3%">Business analysts</li>
					  <li style="margin-left:3%">Coordinators</li>
					  <li style="margin-left:3%">Managers</li>

				  </ul>
			</div>				
		</div>
	</div>
	</section>
    <section class="applications">
        <div class="container">
         <h4 style="font-weight: bold;">Select Technologies</h4>
            <div class="row">
                <div class="col-md-4">
                      <ul class="creative-li">
                        <li>Amazon Web Services</li>
                        <li>GCP</li>
                        <li>Azure</li>
                        <li>Check Point</li>
                        <li>Cisco</li>
                        <li>Citrix</li>
                      </ul>
                </div>
                <div class="col-md-4">
                      <ul class="creative-li">
                        <li>Database</li>
                        <li>EMC</li>
                        <li>Exchange</li>
                        <li>Juniper</li>
                        <li>Linux</li>
                      </ul>
                </div>
                <div class="col-md-4">
                      <ul class="creative-li">
                        <li>Microsoft</li>
                        <li>NetApp</li>
                        <li>Security</li>
                        <li>UNIX</li>
                        <li>VMware</li>
                      </ul>
                </div>			
                    
                
            </div>
        </div>
        <br><br>
        </section>
